/* Reset */

body, h1, h2, p, ul, li, a {
    margin: 0%;
    padding: 0%;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    color: #222;
}

* {
    box-sizing: border-box;
}

/* Fim Reset */

/* Info */

.info-bg {
    background-color: #122AB2;
    color: #fff;
}

.info {
    max-width: 960px;
    padding-top: 10px;
    display: flex; /* dizendo que irá utilizar a exibição em flex (flexbox)*/
    justify-content: space-between; /* irá alinhar o conteúdo usando o mesmo espaçamento para separar o conteúdo um do outro */
    /*align-content: space-between; /* alinha na vertical */
    /*align-items: flex-start;*/ /* funciona em elementos de bloco */
    
    flex-wrap: wrap; /* quando conteúdo não couber mais, não irá diminuir até deixar o conteúdo bem pequeno, irá quebrar linha */
    margin: 0 auto; /* centralizando */
    
}

.info a, .info p {
    margin: 0 10px 10px 10px;
}

.info a {
    color: #fff;
}

/* Fim Info */

/* Menu */

.menu-bg {
    background-color: #2C70FF;
    
}

.menu {
    max-width: 960px;
    padding: 20px 0;

    display: flex;
    justify-content: space-between; /* irá alinhar o conteúdo usando o mesmo espaçamento para separar o conteúdo um do outro */
    flex-wrap: wrap; /* quando conteúdo não couber mais, não irá diminuir até deixar o conteúdo bem pequeno, irá quebrar linha */

    align-items: center; /* alinhando ao centro na vertical */
    
    margin: 0 auto;
    
}

.menu a {
    color: #fff;
}

.menu-logo a {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.5em;
    display: block; /* mudando o padrão para block de inline para pegar padding */
    padding: 10px; /* aumentando área de contato do botão */
}

.menu-nav a:hover {
    color: #122AB2;
}

/* Fim menu */

/* Introdução */

.introducao {

    max-width: 960px;
    margin: 60px auto;

    padding: 0 10px;

    font-size: 3em;
    line-height: 2.4em;
}

/* Fim Introdução */

/* Sobre */

.sobre {
    border-top: solid 3px #2C70FF;
    border-bottom: solid 3px #2C70FF;
    
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0;

    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px; /* grow 2 shrink 1 basis 0; esse irá crescer mais que os outros */
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-bottom: 1em;
    
    color: #7C7C7C;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}

/* Fim Sobre */

/* Produtos */

.produtos {
    margin: 60px auto;
    max-width: 960px;
}

.produtos h1 {
    font-size: 3em;
    margin: 0 10px;
    margin-bottom: 40px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
    align-self: flex-end; /* alinhando conteúdo ao final */
}

.produtos-item h2 {
    font-size: 2.5em;
    background-color: #F7F7F7;
    color: #A4A4A4;
    padding: 40px 20px;
}

.purple {
    border-top: solid 8px #AE81FF;
}

.pink {
    border-top: solid 8px #F9265E;
}

.blue {
    border-top: solid 8px #66D9EB;
}

/* Fim Produtos */

/* Preço */

.preco {
    background-color: #F7F7F7;
    padding: 60px;

    display: flex; /* definindo exibição em flex */
    flex-wrap: wrap; /* quando precisar irá quebrar linha */

    align-items: flex-end; /* alinhando ao final */
}

.preco-item {

    flex: 1 1 260px; /* grow 1 shrink 1 basis 260px definindo mínimo width, pois no safari não faz a quebra automática */
    border: solid 4px #fff;

    padding: 20px;
    margin: 10px;

    min-width: 260px; 
}

.preco-item h2 {
    font-size: 2.5em;
    color: #A4A4A4;
    margin: 20px 0;
    text-align: center;
}

.preco-item span {
    font-size: 2.5em;
    color: #222222;
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
    
    padding: 10px 0;
    max-width: 300px;
    margin: 20px auto;
    display: block; /* alterando para block para pegar o max-width é aumentar a borda, se não a borda ficaria pequena */

    text-align: center;

    font-weight: bold;
   
}

.preco-item sup {
   font-size: 1.5rem; /* se colocar em em aqui irá ser relativo ao pai o span no caso 2.5em, nesse caso o conteúdo irá crescer muito e ficar gigante, por isso é usado rem que é relativo a raiz no caso os 16px por padrão do browser */
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;

    font-size: 1.5em;
    font-style: italic;
   

    color: #7C7C7C;
}

.preco-item li {
    display: flex; /* criando display flex para alinhar o conteúdo */

    justify-content: space-between; /* colocando um entre os itens para que fique cada um em um canto */
    align-items: center; /* sempre alinhando os itens ao centro */

    margin-bottom: 15px;
}

.preco-item li::after {
    content: '';
    display: block;

    background-color: #2C70FF;

    width: 6px;
    height: 6px;

    border-radius: 50%;
}

.preco-item a {
    border: solid 4px; /* a cor pega a color quando não se define */
    max-width: 300px;
    display: block;
    margin: 20px auto;

    padding: 20px 0;

    text-align: center;

    color: #222;

    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}


@media only screen and (max-width: 800px) {

    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }

    .preco .preco-item:nth-child(3) { /* definindo a ordem do último para que apareça em primeiro, por ser o mais caro */
        order: -2;
    }

    .preco .preco-item:nth-child(2) { /* segundo mais caro */
        order: -1;
    }
}

/* Fim Preço */

/* Qualidade */

.qualidade {
    max-width: 960px;
    margin: 60px auto;

    display: flex;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2 {
    font-size: 2.25em;
    color: #A4A4AC;
    margin-bottom: 20px;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before { /* sempre irá selecionar o primeiro e depois o 3 item depois */
    background-color: #AE81FF;
}

.qualidade-item:nth-of-type(3n+2) h2::before { /* sempre irá selecionar o primeiro e depois o 3 item depois */
    background-color: #F9265E;
}

.qualidade-item:nth-of-type(3n+3) h2::before { /* sempre irá selecionar o primeiro e depois o 3 item depois */
    background-color: #66D9EB;
}

.qualidade-item p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #7C7C7C;
}

/* Fim Qualidade */

/* Newsletter */

/* Fim Newsletter */

/* Footer */

/* Fim Footer */